.project{
    color: #000041;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.project-title{
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.project-item {
    border: 2px solid #FEA817;
	border-radius: 5px;
    width: auto;
    height: auto;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.project-img {
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}