.faq{
    padding-right:50px;
    padding-left: 50px;
    padding-bottom: 50px;
    color: #000041;
}

.faq-title{
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.faq .accordion .accordion-button:focus{
    border: none;
    box-shadow: none;
}