.mitra{
    padding-bottom: 50px;
    color: #000041;
}

.grid-container-atas {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #ffffff;
    padding: 10px;
}
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.mitra-title{
    font-size: 4vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
}