.navbar {
	position: fixed;
	padding: 15px 0 15px 0;
	width: 100%;
	padding-bottom: auto;
}

.navbar
.nav-link a{ 
	color: #31355B;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

.navbar
.nav-link a:hover {
	color: #FB7505;
}

.navbar
.nav-link .active{
	background-color: #FEA817;
	color: white;
	border-radius: 5px;
	padding-top: 9px ;
	padding-bottom: 9px ;
}

.navbar
.nav-link .active:hover{
	color: white;
}

.button {
	border: 2px solid black;
	background-color: white;
	color: black;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
	padding-top: 5px ;
	padding-bottom: 5px ;
}

.oren {
	border-color: #FEA817;
	color: #FEA817;
}
  
.oren:hover {
	background: #FEA817;
	color: white;
}