.footer{
    width: 100%;
    min-height: 30vh;
    background-color: #D1DEE7;
    padding: 20px;
    color: #000041;
}

.footer .row:nth-child(1) .col:nth-child(1) .address{
    font-size: 14;
    color: #000041;
    line-height: 2;
}

.footer-contact a,
.footer-sosmed a {
    display: flex;
    align-items: center;
    color: #000041;
}

.footer-contact a:hover,
.footer-sosmed a:hover {
    color: #FB7505;
}

.footer-title {
    padding-bottom: 10px;
    color: #000041;
}

.footer-bawah {
    background-color: #000041;
    color: white;
    width: 100%;
    min-height: 10vh;
    padding: 20px;
}